<div class="container">
    <div class="table-responsive">
        <div class="scroll-wrapper">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th >Name</th>
            <th >Location</th>
            <th >Type</th>
            <th >Capacity</th>
            <th >Depart Date</th>
            <th >Depart Hour</th>
            <th >Return Hour</th>
            <th >Maintenance Status</th>
            <th >Reservation State</th>
            <th>Occupied</th>
            <th >Free</th>
            <th >Room State</th>
            <th >Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let equipmentData of FinalRoomData">   
            <td>{{ equipmentData.roomData.name }}</td>
            <td>{{ equipmentData.roomData.location }}</td>
            <td>{{ equipmentData.roomData.type }}</td>
            <td>{{ equipmentData.roomData.capacity }}</td>
            <td>{{ equipmentData.date | date: 'dd/MM/yyyy' }}</td>
            <td>{{ equipmentData.departureTime }}</td>
            <td>{{ equipmentData.returnTime }}</td>

       <td>     <select [(ngModel)]="equipmentData.roomData.maintenance_status" (ngModelChange)="onFieldChange($event, 'maintenance_status')">
      <option [ngValue]="'Operational'" [selected]="equipmentData.roomData.maintenance_status === 'OPERATIONAL'">Operational</option>
      <option [ngValue]="'under maintenance'" [selected]="equipmentData.roomData.maintenance_status === 'Under maintenance'">Under Maintenance</option>
      <option [ngValue]="'Damaged'" [selected]="equipmentData.roomData.maintenance_status === 'Damaged'">Damaged</option>
    </select>
    </td>
            <td>
              <select [(ngModel)]="equipmentData.roomData.reservation_State" (ngModelChange)="onFieldChange($event, 'reservation_State')" [disabled]="equipmentData.roomData.maintenance_status === 'under maintenance' || equipmentData.roomData.state==='Disabled'|| equipmentData.roomData.maintenance_status === 'Damaged'"[ngModel]="equipmentData.roomData.maintenance_status === 'under maintenance' || equipmentData.roomData.maintenance_status === 'Damaged' ? 'Not yet' : equipmentData.roomData.reservation_State">

                <option [ngValue]="'Not yet'">Not yet</option>
                <option [ngValue]="'Reserved'">Reserved</option>

              </select>
            </td>
            <td>
                <select [(ngModel)]="equipmentData.roomData.occupied" (ngModelChange)="updateFreeField($event, equipmentData)" [disabled]="equipmentData.roomData.maintenance_status === 'under maintenance' || equipmentData.roomData.state === 'Disabled' || equipmentData.roomData.maintenance_status === 'Damaged'">
                    <option [ngValue]="'occupied'">Occupied</option>
                    <option [ngValue]="'Not occupied'">Not Occupied</option>
                </select>
            </td>
            <td>
                <select [(ngModel)]="equipmentData.roomData.free" (ngModelChange)="updateOccupiedField($event, equipmentData)" [disabled]="equipmentData.roomData.maintenance_status === 'under maintenance' || equipmentData.roomData.state === 'Disabled' || equipmentData.roomData.maintenance_status === 'Damaged'">
                    <option [ngValue]="'free'">Free</option>
                    <option [ngValue]="'Not free'">Not Free</option>
                </select>
            </td>
            
            <td>
              <select [(ngModel)]="equipmentData.roomData.state" >
              
                <option [ngValue]="'Enabled'" [selected]="equipmentData.roomData.state === 'Enabled'">Enabled</option>
                <option [ngValue]="'Disabled'" [selected]="equipmentData.roomData.state === 'Disabled'">Disabled</option>
              </select>
            </td>
  
          
            <td>
              <button (click)="performAction(equipmentData)">Update</button>
            </td>
          
          </tr><tr *ngIf="FinalRoomData.length > 0">
            <td colspan="12">Total rows : {{ FinalRoomData.length }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>