<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Model</th>
          <th>Type</th>
          <th>Manufactuer</th>
          <th>Quantity</th>
          <th>Depart Date</th>
          <th>Depart Hour</th>
          <th>Return Hour</th>
          <th>Maintenance Status</th>
          <th>Reservation State</th>
          <th>Returned</th>
          <th>Taken</th>
          <th>Equipment State</th>
          <th>Action</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipmentData of FinalEquipmentData">   
          <td>{{ equipmentData.equipmentData.name }}</td>
          <td>{{ equipmentData.equipmentData.model }}</td>
          <td>{{ equipmentData.equipmentData.type }}</td>
          <td>{{ equipmentData.equipmentData.manufactuer }}</td>
          <td>
            <button (click)="incrementQuantity(equipmentData)">+</button>
            <input type="text" [(ngModel)]="equipmentData.equipmentData.quantity" (ngModelChange)="onFieldChange($event, 'quantity')">
            <button (click)="decrementQuantity(equipmentData)">-</button>
          </td>
          <td>{{ equipmentData.date | date: 'dd/MM/yyyy' }}</td>
          <td>{{ equipmentData.departureTime }}</td>
          <td>{{ equipmentData.returnTime }}</td>
        
       <td>     <select [(ngModel)]="equipmentData.equipmentData.maintenance_status" (ngModelChange)="onFieldChange($event, 'maintenance_status')">
        <option [ngValue]="'Operational'" [selected]="equipmentData.equipmentData.maintenance_status === 'Operational'">Operational</option>
        <option [ngValue]="'under maintenance'" [selected]="equipmentData.equipmentData.maintenance_status === 'under maintenance'">Under Maintenance</option>
        <option [ngValue]="'Damaged'" [selected]="equipmentData.equipmentData.maintenance_status === 'Damaged'">Damaged</option>
      </select>
      </td>
      <td>
        <select [(ngModel)]="equipmentData.equipmentData.reservation_State" (ngModelChange)="onFieldChange($event, 'reservation_State')" [disabled]="equipmentData.equipmentData.maintenance_status === 'under maintenance' || equipmentData.equipmentData.state==='Disabled'|| equipmentData.equipmentData.maintenance_status === 'Damaged'"[ngModel]="equipmentData.equipmentData.maintenance_status === 'under maintenance' || equipmentData.equipmentData.maintenance_status === 'Damaged' ? 'Not yet' : equipmentData.equipmentData.reservation_State">
          <option [ngValue]="'Not yet'">Not yet</option>
          <option [ngValue]="'Reserved'">Reserved</option>

        </select>
      </td>
      <td>
        <select [(ngModel)]="equipmentData.equipmentData.taken" (ngModelChange)="updateFreeField($event, equipmentData)" [disabled]="equipmentData.equipmentData.maintenance_status === 'under maintenance' || equipmentData.equipmentData.state === 'Disabled' || equipmentData.equipmentData.maintenance_status === 'Damaged'">
            <option [ngValue]="'taken'">taken</option>
            <option [ngValue]="'Not taken'">Not taken</option>
        </select>
    </td>
    <td>
      <select [(ngModel)]="equipmentData.equipmentData.returned" (ngModelChange)="updateFreeField($event, equipmentData)" [disabled]="equipmentData.equipmentData.maintenance_status === 'under maintenance' || equipmentData.equipmentData.state === 'Disabled' || equipmentData.equipmentData.maintenance_status === 'Damaged'">
          <option [ngValue]="'returned'">returned</option>
          <option [ngValue]="'Not returned'">Not returned</option>
      </select>
  </td>
        
        

          <td>
            <select [(ngModel)]="equipmentData.equipmentData.state" >
            
              <option [ngValue]="'Enabled'" [selected]="equipmentData.equipmentData.state === 'Enabled'">Enabled</option>
              <option [ngValue]="'Disabled'" [selected]="equipmentData.equipmentData.state === 'Disabled'">Disabled</option>
            </select>
          </td>


        
          <td>
            <button (click)="performAction(equipmentData)">Update</button>
          </td>
        
        </tr>
        <tr *ngIf="FinalEquipmentData.length > 0">
          <td colspan="12">Total rows : {{ FinalEquipmentData.length }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>