<div class="container">
  <div class="table-responsive">
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Model</th>
          <th>Type</th>
          <th>Manufactuer</th>
          <th>Quantity</th>
          <th>Depart Date</th>
          <th>Depart Hour</th>
          <th>Return Hour</th>
          <th>Maintenance Status</th>
          <th>Reservation State</th>
          <th>Returned</th>
          <th>Taken</th>
         
          <th>Equipment State</th>
         
          <th>Description</th>
          <th>Action</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipmentData of FinalEquipmentData">   
          <td>{{ equipmentData.equipmentData.name }}</td>
          <td>{{ equipmentData.equipmentData.model }}</td>
          <td>{{ equipmentData.equipmentData.type }}</td>
          <td>{{ equipmentData.equipmentData.manufactuer }}</td>
          <td>
            <button (click)="incrementQuantity(equipmentData)">+</button>
            <input type="text" [(ngModel)]="equipmentData.equipmentData.quantity" (ngModelChange)="onFieldChange($event, 'quantity')">
            <button (click)="decrementQuantity(equipmentData)">-</button>
          </td>
          <td>{{ equipmentData.date | date: 'dd/MM/yyyy' }}</td>
          <td>{{ equipmentData.departureTime }}</td>
          <td>{{ equipmentData.returnTime }}</td>
          <select [(ngModel)]="equipmentData.equipmentData.maintenance_status" (ngModelChange)="onFieldChange($event, 'maintenance_status')"
          [ngClass]="{ 'text-success': equipmentData.equipmentData.maintenance_status === 'Operational',
                       'text-warning': equipmentData.equipmentData.maintenance_status === 'Under maintenance',
                       'text-danger': equipmentData.equipmentData.maintenance_status === 'Damaged' }">
    <option [ngValue]="'Operational'" [selected]="equipmentData.equipmentData.maintenance_status === 'Operational'">Operational</option>
    <option [ngValue]="'Under maintenance'" [selected]="equipmentData.equipmentData.maintenance_status === 'Under maintenance'">Under Maintenance</option>
    <option [ngValue]="'Damaged'" [selected]="equipmentData.equipmentData.maintenance_status === 'Damaged'">Damaged</option>
  </select>
  
          <td>
            <select [(ngModel)]="equipmentData.equipmentData.reservation_State" (ngModelChange)="onFieldChange($event, 'reservation_State')"  >
              <option [ngValue]="'Reserved'">Reserved</option>
              <option [ngValue]="'Available'">Available</option>
              <option [ngValue]="'Not Available'">Not Available</option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="equipmentData.equipmentData.returned" (ngModelChange)="onFieldChange($event, 'returned')">
              <option [value]="'returned'">returned</option>
              <option  [value]="'Not returned'">Not returned</option>
            </select>
          </td>
          <td>
            <select [(ngModel)]="equipmentData.equipmentData.taken" (ngModelChange)="onFieldChange($event, 'taken')">
              <option [value]="'taken'">taken</option>
              <option [value]="'Not taken'">Not taken</option>
            </select>
          </td>
        
        

          <td>
            <select [(ngModel)]="equipmentData.equipmentData.state" (ngModelChange)="onFieldChange($event, 'state')">
            
              <option [ngValue]="'Enabled'" [selected]="equipmentData.equipmentData.state === 'Enabled'">Enabled</option>
              <option [ngValue]="'Disabled'" [selected]="equipmentData.equipmentData.state === 'Disabled'">Disabled</option>
            </select>
          </td>


        
          <td>
            <select [(ngModel)]="equipmentData.equipmentData.description" (ngModelChange)="onFieldChange($event, 'description')">
              <option [ngValue]="'Returned Late'">Returned Late</option>
              <option [ngValue]="'Returned Damaged'">Returned Damaged</option>
              <option [ngValue]="'Returned in Good Condition'">Returned in Good Condition</option>
              <option [ngValue]="'Returned at time'">Returned at time</option>
              <!-- Ajoutez d'autres options de commentaire au besoin -->
            </select>
          </td>
          <td>
            <button (click)="performAction(equipmentData)">Update</button>
          </td>
        
        </tr>
        <tr *ngIf="FinalEquipmentData.length > 0">
          <td colspan="12">Total rows : {{ FinalEquipmentData.length }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>