<style>
  .card {
    width: 1200px !important;
    margin-top: -30px;
    margin-left: -220px;
  }
</style>

<div class="container mt-3" style="width: 2500px;">
  <div class="row justify-content-center ">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <form class="search-bar">
            <div class="form-row">
              <div class="form-group col">
                <label for="category">Category</label>
                <select id="category" class="form-control" (change)="onCategoryChange($event)">
                  <option value="">Select Category</option>
                  <option value="category1">Equipments</option>
                  <option value="category2">Rooms</option>
                </select>
              </div>
              <div class="form-group col">
                <label for="subcategory">Subcategory</label>
                <select id="subcategory" class="form-control" (change)="onSubcategoryChange($event)">
                  <option value="">Select Category first</option>
                  <option *ngFor="let subcategory of subcategories" [value]="subcategory">{{ subcategory }}</option>
                </select>
              </div>
              
             
             
            
            
              <div class="form-group col">
                <button type="submit" class="btn btn-primary" (click)="search()" style="margin-top: 32px;">Search</button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="table-responsive">
      <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Subcategory</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let equipments of equipmentsList; ">
            <td>{{equipments.name }}</td>
            <td>Equipments</td>
            <td>{{equipments.type}}</td>
            <td>
             <!-- <mat-checkbox class="example-margin" (change)="updateButtonState()" [(ngModel)]="equipments.checked"> Add</mat-checkbox>      -->         
            </td>
          </tr>
          <tr *ngFor="let rooms of roomsList; ">
            <td>{{rooms.name }}</td>
            <td>Rooms</td>
            <td>{{rooms.type}}</td>
            <td>
         <!--     <mat-checkbox class="example-margin"(change)="updateButtonState()" [(ngModel)]="rooms.checked"> Add</mat-checkbox>-->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="button-container">
    <button class="btn btn-success" [ngClass]="{'btn-disabled': !isButtonEnabled, 'btn-enabled': isButtonEnabled}" >Submit</button>
  </div>
</div>


  