<style>


  .blue-button {
  background-color: rgb(0, 47, 255);
  color: white; /* Couleur du texte */
  /* Autres styles personnalisés si nécessaire */
}
/* Appliquer une couleur de fond personnalisée à la case à cocher */
.mat-checkbox-inner-container {
    background-color: #0e0d0d;
    
  }


</style>


<div class="container mt-3" style="width: 2500px;">
  <div class="row justify-content-center ">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <form class="search-bar">
            <div class="form-row">
              <div class="form-group col">
                <label for="category">Category</label>
                <select id="category" class="form-control" (change)="onCategoryChange($event)">
                  <option value="">Select Category</option>
                  <option value="category1">Equipments</option>
                  <option value="category2">Rooms</option>
                </select>
              </div>
              <div class="form-group col">
                <label for="subcategory">Subcategory</label>
                <select id="subcategory" class="form-control" (change)="onSubcategoryChange($event)">
                  <option value="">Select Category first</option>
                  <option *ngFor="let subcategory of subcategories" [value]="subcategory">{{ subcategory }}</option>
                </select>
              </div>
              
             
             
            
            
              <div class="form-group col">
                <button type="submit" class="btn btn-primary" (click)="search()" style="margin-top: 32px;">Search</button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="table-responsive">
      <div class="table-responsive">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Subcategory</th>
            <th>State</th>
            <th>Maintenance Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let equipments of filteredEquipmentsList; ">
            <td>{{equipments.name }}</td>
            <td>{{equipments.category}}</td>
            <td>{{equipments.type}}</td>
            <td [ngStyle]="{ 'color': equipments.state === 'Enabled' ? 'green' : 'red' }">{{ equipments.state }}</td>

            <td>{{equipments.maintenance_status}}</td>
            <td>
              <mat-checkbox [(ngModel)]="equipments.checked" (change)="onCheckboxChange($event, equipments, selectedDate, selectedDepartureTime, selectedReturnTime)"></mat-checkbox>


              <button class="btn btn-primary" (click)="openDetailsModal(equipments)">Check Details</button>
            </td>
            
          </tr>
          <tr *ngFor="let rooms of filteredRoomsList; ">
            <td>{{rooms.name }}</td>
            <td>{{rooms.category}}</td>
            <td>{{rooms.type}}</td>
            <td [ngStyle]="{ 'color': rooms.state === 'Enabled' ? 'green' : 'red' }">{{ rooms.state }}</td>

            <td>{{rooms.maintenance_status}}</td>
            <td>
              <mat-checkbox [(ngModel)]="rooms.checked" (change)="onCheckboxChange($event, rooms,selectedDate, selectedDepartureTime, selectedReturnTime)"></mat-checkbox>


              <button class="btn btn-primary" (click)="openDetailsModal(rooms)">Check Details</button>
              
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
    </div>
    <div class="button-container">
      <button class="btn btn-success blue-button" [ngClass]="{'btn-disabled': !isButtonEnabled, 'btn-enabled': isButtonEnabled}" (click)="onSubmit()" >Submit</button>
    </div>
    
</div>


  