
<style>
  .custom-scrollbar {
    overflow-y: auto; /* Vertical scrolling */
    overflow-x: auto; /* Horizontal scrolling */
    height: 400px; /* Or any other height */
  }

  /* Style for the scrollbar */
  ::-webkit-scrollbar {
    width: 10px; /* Vertical scrollbar width */
    height: 10px; /* Horizontal scrollbar height */
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1; /* Track color */
  }

  ::-webkit-scrollbar-thumb {
    background: #888; /* Handle color */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #555; /* Handle color on hover */
  }

  /* Existing styles */
  .blue-button {
    background-color: rgb(37, 33, 218);
    color: #67abeb;
  }
  .mat-checkbox-inner-container {
    background-color: #1425c4;
  }
</style>



<div class="container mt-3" style="width: 2500px;">
  <div class="row justify-content-center ">
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <form class="search-bar">
            <div class="form-row">
              <div class="form-group col">
                <label for="category">Category</label>
                <select id="category" class="form-control" (change)="onCategoryChange($event)">
                  <option value="">Select Category</option>
                  <option value="category1">Equipments</option>
                  <option value="category2">Rooms</option>
                </select>
              </div>
              <div class="form-group col">
                <label for="subcategory">Subcategory</label>
                <select id="subcategory" class="form-control" (change)="onSubcategoryChange($event)">
                  <option value="">Select Category first</option>
                  <option *ngFor="let subcategory of subcategories" [value]="subcategory">{{ subcategory }}</option>
                </select>
              </div>
              <div class="form-group col">
                <label for="name">Name</label>
                <select id="name"class="form-control" #nameInput (change)="filterItemsByName(nameInput.value)">
                
                  <option *ngFor="let subcategory of subcategories" [value]="subcategory">{{ subcategory }}</option>
                </select>
              </div>
             
             
            
            
              <div class="form-group col">
                <button type="submit" class="btn btn-primary" (click)="search()" style="margin-top: 32px;">Search</button>

              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="table-responsive">
    <div class="table-responsive custom-scrollbar">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Subcategory</th>
            <th>State</th>
            <th>Maintenance Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let equipments of filteredEquipmentsList; ">
            <td>{{equipments.name }}</td>
            <td>{{equipments.category}}</td>
            <td>{{equipments.type}}</td>
            <td [ngStyle]="{ 'color': equipments.state === 'Enabled' ? 'green' : 'red' }">{{ equipments.state }}</td>

            <td>{{equipments.maintenance_status}}</td>
            <td>
              <mat-checkbox [(ngModel)]="equipments.checked" (change)="onCheckboxChange($event, equipments, selectedDate, selectedDepartureTime, selectedReturnTime)" [disabled]="equipments.state === 'Disabled'"  ></mat-checkbox>

              <button class="btn btn-primary" (click)="openDetailsModal(equipments)">Check Details</button>
            </td>
            
          </tr>
          <tr *ngFor="let rooms of filteredRoomsList; ">
            <td>{{rooms.name }}</td>
            <td>{{rooms.category}}</td>
            <td>{{rooms.type}}</td>
            <td [ngStyle]="{ 'color': rooms.state === 'Enabled' ? 'green' : 'red' }">{{ rooms.state }}</td>

            <td>{{rooms.maintenance_status}}</td>
            <td>
              <mat-checkbox  [(ngModel)]="rooms.checked" (change)="onCheckboxChange($event, rooms,selectedDate, selectedDepartureTime, selectedReturnTime)" [disabled]="rooms.state === 'Disabled'" ></mat-checkbox>
              <button class="btn btn-primary" (click)="openDetailsModal(rooms)">Check Details</button>
              
            </td>
            
          </tr>
        </tbody>
      </table>
    </div>
  </div>
    <div class="button-container">
    <div class="button-container">
      <button *ngIf="!selectedDate || !selectedDepartureTime || !selectedReturnTime" class="btn btn-info" (click)="chooseDateFirst()" enabled>Choose Date First</button>
      <button class="btn btn-success blue-button" [ngClass]="{'btn-disabled': !isButtonEnabled, 'btn-enabled': isButtonEnabled}"[disabled]="!isButtonEnabled ||checkedItems.length==0" (click)="onSubmit()" >Submit</button>
    </div>
    
</div>


  
