
<div class="container">
  <h2>My list of reservation </h2>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Category</th>
        <th>Subcategory</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of reservationService.checkedItems">
        <td>{{ item.name }}</td>
        <td>{{ item.category }}</td>
        <td>{{item.type}}</td>
      </tr>
    </tbody>
  </table>	
  <!-- Bouton pour valider la réservation -->
  <button class="btn btn-success" (click)="validateReservation(); showSuccessMessage()">Validate</button>
<!-- Bouton pour revenir et ajouter d'autres éléments -->
<button class="btn btn-primary" (click)="goBack()">Add More</button>
</div>
<router-outlet></router-outlet><form [formGroup]="form" (ngSubmit)="send()">
  <div>
    <label for="to_name">To Name:</label>
    <input type="text" id="to_name" formControlName="to_name" />
  </div>
  <div>
    <label for="from_name">From Name:</label>
    <input type="text" id="from_name" formControlName="from_name" />
  </div>
  <div>
    <label for="from_email">From Email:</label>
    <input type="email" id="from_email" formControlName="from_email" />
  </div>
  <div>
    <label for="subject">Subject:</label>
    <input type="text" id="subject" formControlName="subject" />
  </div>
  <div>
    <label for="message">Message:</label>
    <textarea id="message" formControlName="message"></textarea>
  </div>
  <button type="submit">Send</button>
</form>