<div class="head" [ngClass]="getHeadClass()">
    <div class="head-content">
        <div class="head-content-left">
            <div class="search-container">
                <div *ngIf="!canShowSearchAsOverlay" class="normal-search">
                    <input type="search"
                     class="search" name="" id=""
                     placeholder="search..."
                    >
                    <i class="far fa-search search-icon"></i>
                </div>
                <div *ngIf="canShowSearchAsOverlay">
                    <button 
                         [cdkMenuTriggerFor]="searchOverlay"
                         class="search-menu-btn ripple"
                    >
                        <i class="far fa-search search-icon"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="head-content-right">
            <div class="head-menu">

                <div class="head-menu-item">
                    <button class="head-menu-item-btn ripple" [cdkMenuTriggerFor]="notificationsOverlay">
                        <i class="far fa-bell menu-icon"></i>
                    </button>
                </div>
            </div>
            <div class="head-user-avatar-container">
                <div class="head-user-avatar" [cdkMenuTriggerFor]="userverlay">
                    <img src="../assets/images/user.png" alt="user" class="user-avatar">
                    <div class="circle-indicator pulse"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<ng-template #searchOverlay>
    <div class="overlay overlay-search overlay-fall" cdkMenu>
        <input type="search" class="search" name="" id="" placeholder="Search...">
        <button class="search-btn">
            <i class="far fa-search search-icon"></i>
        </button>
    </div>
</ng-template>

<ng-template #userverlay>
    <div class="overlay overlay-user overlay-fall" cdkMenu>
        <ul>
            <li *ngFor="let item of userItems">
                <a>
                    <i class="icon" [ngClass]="item.icon"></i>
                    <span>{{item.label}}</span>
                </a>
            </li>
        </ul>
    </div>
</ng-template>

<ng-template #notificationsOverlay>
    <div class="overlay overlay-notification overlay-fall" cdkMenu>
        <ul>
            <li class="notification-head-container">
                <div class="notifiaction-head">Notification</div>
                <span class="view-all-link">
                    <a>View All</a>
                </span>
            </li>
            <li class="notification-message-container" 
                *ngFor="let notfification of notfifications" 
                cdkMenuItem 
                >
                <i [class]="notfification.icon"></i>
                <div>
                  <div class="notifiaction-subject">
                    {{notfification.Subject}}
                  </div>
                  <p class="notfification-desc">
                    {{notfification.description}}
                  </p>
            </div>
            </li>
        </ul>
    </div>
</ng-template>

