#calendar-container {
    font-family: Arial, sans-serif;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  

  
  #cal-date-field {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
  }
  
  span[ngSwitch] {
    display: block;
    margin-top: 10px;
  }
  
  #cal-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .btn-group {
    display: flex;
    gap: 10px;
  }
  
  #cal-date-field {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    flex-grow: 1;
  }
  
  span[ngSwitch] {
    display: block;
    margin-top: 10px;
  }
  
  .btn-secondary.active,
  .btn-secondary:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-secondary {
    background-color: #fff;
    color: #007bff;
    border-color: #007bff;
  }
  
  .btn-secondary:not(.active):hover {
    background-color: #f8f9fa;
    color: #007bff;
    border-color: #007bff;
  }
  